[options]
allow_bold = true
audible_bell = false
clickable_url = true
dynamic_title = true
# font = Hack 9
font = Terminess Powerline 10
# fullscreen = true
# geometry = 640x480
icon_name = terminal
mouse_autohide = true
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 10000
# search_wrap = true
urgent_on_bell = true

# $BROWSER is used by default if set, with xdg-open as a fallback
# browser = xdg-open

# "system", "on" or "off"
cursor_blink = on

# "block", "underline" or "ibeam"
cursor_shape = ibeam

# Hide links that are no longer valid in url select overlay mode
# filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
# modify_other_keys = false

# set size hints for the window
# size_hints = false

[colors]
# Base16 Tomorrow (made dark, ie reversed 00 to 07)
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #d6d6d6
foreground_bold = #e0e0e0
cursor          = #eab700
background      = rgba(23, 31, 33, 0.9)

highlight = #a3685a

# 16 color space

# Black, Gray, Silver, White
color0  = #1d1f21
color8  = #969896
color7  = #d6d6d6
color15 = #ffffff

# Red
color1  = #c82829
color9  = #c82829

# Green
color2  = #718c00
color10 = #718c00

# Yellow
color3  = #eab700
color11 = #eab700

# Blue
color4  = #4271ae
color12 = #4271ae

# Purple
color5  = #8959a8
color13 = #8959a8

# Teal
color6  = #3e999f
color14 = #3e999f

# Extra colors
color15 = #ffffff
color16 = #f5871f
color17 = #a3685a
color18 = #282a2e
color19 = #4d4d4c
color20 = #8e908c
color21 = #e0e0e0
